body {
  background-color: #ffb2f0;
  font-family: Sora, sans-serif;
  margin: 0;
}

img {
    max-width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #ffb2f0;
}

::-webkit-scrollbar-thumb {
  background: #996b90;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

div#home {
  position: relative;
  min-height: 50vh;
  background-color: #0006;
}

nome {
  color: #ffb2f0;
  font-weight: bold;
  display: inline-block;
  box-sizing: content-box;
  margin-left: 2em;
  margin-top: 4em;
  /* position: absolute; */
  /* top: 14vh;
    left: 8vh; */
  border-radius: 1em;
  animation: hove 1.3s alternate infinite linear;

  /* padding: 14px 30px 30px 14px; */

  /* background-color: #ffe180; */
}
@keyframes hove {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-7px);
  }
}
nome su {
  /* width: 0; */
  margin-right: 0.5ch;
  transition: all 0.5s;
  overflow: hidden;
  display: inline-block;
  font-size: 0.6em;
}
div#home img {
  position: absolute;
  right: 7vh;
  top: 5em;
  /* width: 50px; */
  /* height: 50px; */
}
nome > t {
  /* font-size: 2.5em; */
  /* font-size: max(2.5em, 300%);   */
  font-size: 4em;
  /* font-size: clamp(2.5em, 5px, 20vw); */
  display: inline-block;
}
nome parola {
  white-space: nowrap;
}
nome > subt {
  margin: 0;
  color: white;
  font-size: 1.5em;
  /* line-height: 0; */
}
body > div:not([style="overflow: hidden;"]) {
  padding-inline: 0.9em;
  font-size: 1.1em;
}
div#why {
  /* font-size: .9em; */
  max-width: 85%;
}
div:not(#home) t {
  font-size: 1.3em;
  /* margin-left: .5em */
  margin-right: -1em;
  margin-bottom: 0.3em;
  width: 100%;
  max-width: max(85%, 400px);
  display: inline-block;
  font-weight: bold;
  color: #362085;
}
div#why su {
  /* font-size: 1.05em; */
  font-weight: bold;
  color: #362085;
}
/* div#why > ul {
    list-style: none;
} */
div#why ul {
  margin-top: 0.6em;
  padding-left: 0.8em;
}
div#why li {
  list-style: none;
  margin-bottom: 0.2em;
}
div#idea > div > * {
  margin-bottom: 1em;
  max-height: 13em;
  margin-inline: 1em;
  max-width: unset !important;
}
div#idea > div {
  display: flex;
  /* justify-content: space-evenly; */
  overflow-x: auto;
  align-items: center;
  /* flex-wrap: wrap; */
}

div#idea img {
  /* max-width: 30em; */
  /* max-height: 13em; */
  border-radius: 10px;
  display: block;
  /* margin-inline: 2em; */
  width: auto;
  height: auto;
}
div#idea video {
  /* max-width: 90%; */
  /* margin-inline: 1em; */
}
div#answ {
  background-color: #996b90;
  margin-top: -.3em;
  padding-bottom: 1em;
}
div#answ > div t {
    /* display: inline; */
}
div#answ > div > img {
  /* width: 30em; */
  max-width: min(100%, 22em);  
  /* transform: scale(.5); */
}
div#answ v {
  width: 100%;
  color: #360bd3;
  display: block;
  text-align: center;
}
div#answ v:hover {
  color: #4123addc;
  cursor: pointer;
}

div#cred {
    margin-top: -4em;
    margin-bottom: 4em;
}

@media (pointer: coarse) {
  nome {
    margin-left: unset;
  }
  body > div:not([style="overflow: hidden;"]) {
    padding-inline: 0.9em;
    font-size: 1em;
  }
}

@media screen and (max-width: 340px) {
  nome {
    margin-left: unset;
    margin-top: 2em;
  }
  div#idea > div > * {
  margin-inline: 0;
  }
  nome > t {
    font-size: 3em;
  }
}
